<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="theme-color" content="#333">
<base href="[[base]]/" />
<link rel="shortcut icon" href="[[base]]/ui/assets/img/favicon.png?v=3">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="[[base]]/ui/assets/css/preload.min.css" />
<link rel="stylesheet" href="[[base]]/ui/assets/css/plugins.min.css" />
<link rel="stylesheet" href="[[base]]/ui/assets/css/style.grey-800.min.css" />
<link rel="stylesheet" href="[[base]]/ui/css/base.css" />
<!--[if lt IE 9]>
<script src="[[base]]/ui/assets/js/html5shiv.min.js"></script>
<script src="[[base]]/ui/assets/js/respond.min.js"></script>
<![endif]-->
