<nav class="navbar navbar-static-top yamm ms-navbar ms-navbar-dark navbar-mode">
    <div class="container container-full">
        <div class="navbar-header">
            <a class="navbar-brand" href="[[base]]">
                <!-- <img src="assets/img/demo/logo-navbar.png" alt=""> -->
                <span class="ms-logo ms-logo-sm">M</span>
                <span class="ms-title">Material
                <strong>Style</strong>
              </span>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle animated fadeIn animation-delay-4" data-toggle="dropdown" data-hover="dropdown" data-name="home">Home
                        <i class="zmdi zmdi-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="ms-menu-double">
                                <ul class="ms-menu-double-main-menu">
                                    <li class="active">
                                        <a href="#tab-1" data-hover="tab" data-toggle="tab">
                                            <i class="zmdi zmdi-home"></i> General Purpose</a>
                                    </li>
                                    <li>
                                        <a href="#tab-2" data-hover="tab">
                                            <i class="zmdi zmdi-desktop-windows"></i> Landing pages</a>
                                    </li>
                                    <li>
                                        <a href="#tab-9" data-hover="tab">
                                            <i class="zmdi zmdi-panorama-horizontal"></i> Slider Revolution</a>
                                    </li>
                                    <li>
                                        <a href="#tab-3" data-hover="tab" data-toggle="tab">
                                            <i class="zmdi zmdi-store"></i> Shop</a>
                                    </li>
                                    <li>
                                        <a href="#tab-8" data-hover="tab" data-toggle="tab">
                                            <i class="zmdi zmdi-account"></i> Professional Profile</a>
                                    </li>
                                    <li>
                                        <a href="#tab-4" data-hover="tab" data-toggle="tab">
                                            <i class="zmdi zmdi-edit"></i> Blog Template</a>
                                    </li>
                                    <li>
                                        <a href="#tab-5" data-hover="tab" data-toggle="tab">
                                            <i class="zmdi zmdi-flip"></i> Magazine Template</a>
                                    </li>
                                    <li>
                                        <a href="#tab-6" data-hover="tab" data-toggle="tab">
                                            <i class="zmdi zmdi-smartphone-iphone"></i> App Pages</a>
                                    </li>
                                    <li>
                                        <a href="#tab-7" data-hover="tab" data-toggle="tab">
                                            <i class="zmdi zmdi-search"></i> Classified Ads</a>
                                    </li>
                                </ul>
                                <div class="tab-content ms-menu-double-submenu-container">
                                    <div class="tab-pane active" id="tab-1">
                                        <ul class="ms-menu-double-submenu">
                                            <li>
                                                <a href="index.html">Default Home</a>
                                            </li>
                                            <li>
                                                <a href="home-generic-2.html">Home Black Slider</a>
                                            </li>
                                            <li>
                                                <a href="home-generic-3.html">Home Browsers Intro</a>
                                            </li>
                                            <li>
                                                <a href="home-generic-4.html">Home Mobile Intro</a>
                                            </li>
                                            <li>
                                                <a href="home-generic-5.html">Home Material Icons</a>
                                            </li>
                                            <li>
                                                <a href="home-generic-6.html">Home Typed Hero</a>
                                            </li>
                                            <li>
                                                <a href="home-generic-7.html">Home Typed Hero 2</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="tab-2">
                                        <ul class="ms-menu-double-submenu">
                                            <li>
                                                <a href="home-landing.html">Home Landing Intro</a>
                                            </li>
                                            <li>
                                                <a href="home-landing2.html">Home Landing Intro 2</a>
                                            </li>
                                            <li>
                                                <a href="home-landing4.html">Home Landing Intro 3</a>
                                            </li>
                                            <li>
                                                <a href="home-landing3.html">Home Landing Video</a>
                                            </li>
                                            <li>
                                                <a href="home-cv3.html">Home Profile Landing 1</a>
                                            </li>
                                            <li>
                                                <a href="home-cv4.html">Home Profile Landing 2</a>
                                            </li>
                                            <li class="disable">
                                                <a href="javascript:void(0)">Landing Video 2 (Next Update)</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="tab-9">
                                        <ul class="ms-menu-double-submenu">
                                            <li>
                                                <a href="home-revolution.html">Home Revolution Devices
                                                    <span class="label label-success pull-right">1.3</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="home-revolution2.html">Home Revolution App
                                                    <span class="label label-success pull-right">1.3</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="home-revolution3.html">Home Revolution Video
                                                    <span class="label label-success pull-right">1.3</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="home-revolution4.html">Home Revolution Idea
                                                    <span class="label label-success pull-right">1.3</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="tab-3">
                                        <ul class="ms-menu-double-submenu">
                                            <li>
                                                <a href="home-shop.html">Home Shop 1</a>
                                            </li>
                                            <li>
                                                <a href="home-shop2.html">Home Shop 2</a>
                                            </li>
                                            <li class="disable">
                                                <a href="javascript:void(0)">Home Shop 3 (Next Update)</a>
                                            </li>
                                            <li class="disable">
                                                <a href="javascript:void(0)">Home Shop 4 (Next Update)</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="tab-8">
                                        <ul class="ms-menu-double-submenu">
                                            <li>
                                                <a href="home-cv.html">Home Profile 1</a>
                                            </li>
                                            <li>
                                                <a href="home-cv2.html">Home Profile 2</a>
                                            </li>
                                            <li>
                                                <a href="home-cv3.html">Home Profile Landing 1</a>
                                            </li>
                                            <li>
                                                <a href="home-cv4.html">Home Profile Landing 2</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="tab-4">
                                        <ul class="ms-menu-double-submenu">
                                            <li>
                                                <a href="home-blog.html">Home Blog 1</a>
                                            </li>
                                            <li>
                                                <a href="home-blog2.html">Home Blog 2</a>
                                            </li>
                                            <li class="disable">
                                                <a href="javascript:void(0)">Home Blog 3 (Next Update)</a>
                                            </li>
                                            <li class="disable">
                                                <a href="javascript:void(0)">Home Blog 4 (Next Update)</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="tab-5">
                                        <ul class="ms-menu-double-submenu">
                                            <li>
                                                <a href="home-magazine.html">Home Magazine 1</a>
                                            </li>
                                            <li class="disable">
                                                <a href="javascript:void(0)">Magazine 2 (Next Update)</a>
                                            </li>
                                            <li class="disable">
                                                <a href="javascript:void(0)">Magazine 3 (Next Update)</a>
                                            </li>
                                            <li class="disable">
                                                <a href="javascript:void(0)">Magazine 4 (Next Update)</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="tab-6">
                                        <ul class="ms-menu-double-submenu">
                                            <li>
                                                <a href="home-app.html">Home App 1</a>
                                            </li>
                                            <li>
                                                <a href="home-app2.html">Home App 2</a>
                                            </li>
                                            <li class="disable">
                                                <a href="javascript:void(0)">Home App 3 (Next Update)</a>
                                            </li>
                                            <li class="disable">
                                                <a href="javascript:void(0)">Home App 4 (Next Update)</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="tab-7">
                                        <ul class="ms-menu-double-submenu">
                                            <li>
                                                <a href="home-class.html">Home Classifieds 1</a>
                                            </li>
                                            <li class="disable">
                                                <a href="javascript:void(0)">Classifieds 2 (Next Update)</a>
                                            </li>
                                            <li class="disable">
                                                <a href="javascript:void(0)">Classifieds 3 (Next Update)</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle animated fadeIn animation-delay-7" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-name="blog">Registro
                        <i class="zmdi zmdi-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="blog-sidebar.html">
                                <i class="zmdi zmdi-view-compact"></i> Equipos</a>
                        </li>
                        <li>
                            <a href="[[base]]/reglas">
                                <i class="zmdi zmdi-view-compact"></i> Reglas</a>
                        </li>
                        <li>
                            <a href="blog-masonry.html">
                                <i class="zmdi zmdi-view-dashboard"></i> Sanciones</a>
                        </li>
                        <li>
                            <a href="blog-masonry.html">
                                <i class="zmdi zmdi-view-dashboard"></i> Marcadores</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle animated fadeIn animation-delay-8" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-name="portfolio">Torneos
                        <i class="zmdi zmdi-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="[[base]]/torneo"> Torneos</a>
                        </li>
                        <li>
                            <a href="portfolio-filters_topbar.html">
                                <i class="zmdi zmdi-view-agenda"></i> Calendario</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle animated fadeIn animation-delay-9" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-name="ecommerce">Administración
                        <i class="zmdi zmdi-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="ecommerce-filters.html">Usuarios</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="[[base]]/desloguear"  aria-haspopup="false" aria-expanded="false">

                        <i class="fa fa-sign-out fa-fw font-size-28" aria-hidden="true"></i>
                        <span class="text-bold hidden-xs">Salir</span>
                    </a>
                </li>
                <!-- <li class="btn-navbar-menu"><a href="javascript:void(0)" class="sb-toggle-left"><i class="zmdi zmdi-menu"></i></a></li> -->
            </ul>
        </div>
    </div>
    <!-- container -->
</nav>